@model IEnumerable<MyToDo.Models.ToDo>

@{
    ViewData["Title"] = "ToDo";
}

<h1>@(ViewBag.HeaderTitle)</h1>

<p>
    <a asp-action="Create">할일 만들기</a>
</p>
<table class="table">
@*     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.IsDone == 0)
            {
                    <td><input type="checkbox"></td>
            }
            else
            {
                    <td><input type="checkbox" checked></td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
