@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">사용자 번호 : @Model.Id</h1>
    <h1 class="display-4">사용자 이름 : @Model.UserName</h1>
    @* <h2>사용자 번호 : @ViewBag.User.No</h2> *@
    @* <h2>사용자 이름 : @ViewBag.User.Name</h2>     *@
    @* <h3>사용자 번호 : @ViewData["user"]</h3> *@
    @* <h3>사용자 이름 : @ViewBag.User.Name</h3> *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
